<header>
  <div class="header__container">
    <div class="header__button">
      <a href="/dames">SHOP DAMES</a>
      <a href="/heren">SHOP HEREN</a>
    </div>
  </div>
</header>

<section class="top__categories__container">
  <h1>Top Categories</h1>
  <div class="top__categories">
    <div class="top__categorie">
      <div class="categorie_img_jackets"></div>
      <p>Jackets</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_broeken"></div>
      <p>Broeken</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_truien"></div>
      <p>Truien</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_tops"></div>
      <p>T-shirts</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_rokken"></div>
      <p>Rokken</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_schoenen"></div>
      <p>Schoenen</p>
    </div>
  </div>
</section>

<section class="look__container">
  <h1>Get the look</h1>
  <p>#MADfashionStyle</p>
  <div class="look__categories">
    <div class="look__categorie">
      <div class="categorie_img_cozy">
        <p>Cozy</p>
      </div>
      <div class="categorie_img_casual">
        <p>Casual</p>
      </div>
      <div class="categorie_img_trendy">
        <p>Trendy</p>
      </div>
      <div class="categorie_img_formal">
        <p>Formal</p>
      </div>
    </div>
  </div>
</section>

<section class="filter__clothes__container">
  <div class="filter__container">
    <div class="filter__container__categories">
      <h1>Categories</h1>
      <p (click)="filterByCategory(0)">All items</p>
      <p (click)="filterByCategory(1)">Shoes</p>
      <p (click)="filterByCategory(2)">Dresses</p>
      <p (click)="filterByCategory(3)">T-shirts</p>
      <p (click)="filterByCategory(4)">Sweaters</p>
      <p (click)="filterByCategory(5)">Accessories</p>
      <p (click)="filterByCategory(6)">Jackets</p>
      <p (click)="filterByCategory(7)">Pants</p>
      <p (click)="filterByCategory(8)">Skirts</p>
    </div>
  </div>

  <div class="clothes_container">
    <div class="clothes__container__filter">
      <label for="optie">Sort by</label>
      <select name="optie" id="optie" (change)="sortProducts()">
        <option value="high">High to low</option>
        <option value="low">Low to high</option>
        <!-- <option value="collectie">Nieuwe collectie</option>
        <option value="bestsellers">Bestsellers</option>-->
      </select>
    </div>

    <div class="clothes__items">
      <!-- {{ productskids | json }} -->
      @if (filteredProducts) { @for (product of filteredProducts; track
      product.id) {
      <div class="clothes_box">
        <div class="product_box">
          <img src="{{ product.image }}" alt="" class="product_image" />
          <div class="product_info">
            <p class="product_brand">{{ product.brand }}</p>
            <h4 class="product_name">{{ product.name }}</h4>
          </div>
          <div class="product_buy">
            <p class="product_price">
              {{ product.price | currency : "EUR" }}
            </p>
            <button class="add_to_cart_button" (click)="addToCart(product)">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</section>
