<section class="witte__ruimte"></section>

<section id="container">
  <h1>&bull; Sign in &bull;</h1>
  <form id="login_form">
    <div class="username">
      <label for="username"></label>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="Username"
        id="username_input"
        required
      />
    </div>

    <div class="password">
      <label for="password"></label>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        id="password_input"
        required
      />
    </div>

    <div class="login">
      <button type="submit" id="form_button" (click)="onSubmit()">Login</button>
    </div>

    <div class="no-account">
      <a href="/register">No account?</a>
    </div>
  </form>
</section>
