<section class="witte__ruimte"></section>

<section id="container">
  <h1>&bull; Keep in Touch &bull;</h1>

  <form action="https://formsubmit.co/6988f9a744bd2ba93262b02ffd9cf507" method="post" id="contact_form">
    <div class="name">
      <label for="name"></label>
      <input type="text" placeholder="John Doe" name="Name" id="name_input" required>
    </div>

    <div class="email">
      <label for="email"></label>
      <input type="email" placeholder="example@example.com" name="Email" id="email_input" required>
    </div>

    <div class="telephone">
      <label for="name"></label>
      <input type="number" placeholder="+32 456 789 123" name="Telefoonnummer" id="telephone_input" required>
    </div>

    <div class="subject">
      <label for="subject"></label>
      <select placeholder="Onderwerp" name="Onderwerp" id="subject_input" required>
        <option disabled hidden selected>Onderwerp</option>
        <option>I'd like to start a project</option>
        <option>I'd like to ask a question</option>
        <option>I'd like to make a proposal</option>
      </select>
    </div>

    <div class="message">
      <label for="message"></label>
      <textarea name="Bericht" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
    </div>

    <div class="submit">
      <input type="submit" value="Send Message" id="form_button" />
    </div>
  </form>
</section>
  