<div class="cart">
  <h2>Your Cart</h2>

  <ul>
    <li>
      <img src="product1.jpg" alt="Product 1" />

      <p>beschrijving</p>

      <span>$10.00</span>

      <button class="remove-item">x</button>
    </li>

    <li>
      <img src="product2.jpg" alt="Product 2" />

      <p>beschrijving</p>

      <span>$20.00</span>

      <button class="remove-item">x</button>
    </li>

    <li>
      <img src="product2.jpg" alt="Product 3" />

      <p>beschrijving</p>

      <span>$20.00</span>

      <button class="remove-item">x</button>
    </li>
  </ul>

  <div class="subtotal">
    <p>Subtotal: 30.00</p>
  </div>

  <p><br /></p>

  <p><br /></p>

  <p><br /></p>

  <p><br /></p>

  <p><br /></p>

  <button class="checkout">Checkout</button>
</div>
