<div class="cart">
  <h2>Your Cart</h2>

  <ul class="cart-items">
    @if (cartItem) { @for (product of cartItem; track product.id) {
    <li class="cart-item">
      <img src="{{ product.image }}" alt="" class="cart-item-image" />
      <div class="cart-item-info">
        <p class="cart-item-brand">{{ product.brand }}</p>
        <p class="cart-item-name">{{ product.name }}</p>
        <p class="cart-item-price">{{ product.price | currency : "EUR" }}</p>
      </div>
      <button class="remove-button">X</button>
    </li>
    } }

    <div class="cart-total">
      <p>Total: {{ totalPrice }}</p>
    </div>

    <button click="" class="checkout-button">Checkout</button>
  </ul>
</div>
