.cart-container {
  z-index: 1;
  max-width: 750px;
  position: relative;
  margin: 0 auto 0 auto;
  background-color: white;
  border: solid 3px black;
}
.witte__ruimte {
  height: 120px;
  position: relative;
}
.cart-item {
  text-align: center;
  margin-top: 10vh;
  min-height: 70vh;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 9px;
  padding: -50px 0 25px 0;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  border: none;
  padding: 8px;
  text-align: center;
  border-bottom: solid 2px black;
}

td {
  margin-top: 200px;
  border: none;
  padding: 8px;
  text-align: center;
  border-bottom: solid 2px black;
}

.item-row {
  background-color: #f9f9f9;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.remove-button {
  background-color: red;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: black;
}

#total {
  border-bottom: none;
  position: absolute;
  margin-left: 41.5%;
  margin-top: -17%;
  border: none;
  padding: 8px;
  border: none;
  font-weight: bold;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: background-color 0.3s ease;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  margin-top: 90px;
  margin-left: 170%;
  margin-bottom: 20%;
}

.btn:hover {
  background-color: black;
}
