<header>
  <div class="header__container">
    <div class="header__text">
      <p>SOLDEN</p>
      <p>TOT 50% KORTING</p>
    </div>
    <div class="header__button">
      <a href="/dames">SHOP DAMES</a>
      <a href="/kids">SHOP KIDS</a>
    </div>
  </div>
</header>

<section class="top__categories__container">
  <h1>Top Categories</h1>
  <div class="top__categories">
    <div class="top__categorie">
      <div class="categorie_img_jackets"></div>
      <p>Jackets</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_jeans"></div>
      <p>Jeans</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_sweatshirt"></div>
      <p>Sweatshirt</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_shirt"></div>
      <p>T-shirts</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_schoenen"></div>
      <p>Schoenen</p>
    </div>
    <div class="top__categorie">
      <div class="categorie_img_accessoires"></div>
      <p>Accessoires</p>
    </div>
  </div>
</section>

<section class="look__container">
  <h1>Get the look</h1>
  <p>#MADFashionStyle</p>
  <div class="look__categories">
    <div class="look__categorie">
      <div class="categorie_img_streetwear">
        <p>Streetwear</p>
      </div>
      <div class="categorie_img_casual">
        <p>Casual</p>
      </div>
      <div class="categorie_img_trendy">
        <p>Trendy</p>
      </div>
      <div class="categorie_img_formal">
        <p>Formal</p>
      </div>
    </div>
  </div>
</section>

<section class="filter__clothes__container">
  <div class="filter__container">
    <div class="filter__container__categories">
      <h1>Type</h1>
      <p>Blouse</p>
      <p>Bomberjack</p>
      <p>Bodywarmer</p>
    </div>
    <div class="filter__container__merken">
      <h1>Categorie</h1>
      <p>Broeken</p>
      <p>Jassen</p>
      <p>Overhemden</p>
      <p>Topjes</p>
    </div>
  </div>

  <div class="clothes_container">
    <div class="clothes__container__filter">
      <label for="optie">Sorteer op:</label>
      <select name="optie" id="optie">
        <option value="hoog">Hoog naar laag</option>
        <option value="laag">Laag naar hoog</option>
        <option value="collectie">Nieuwe collectie</option>
        <option value="bestsellers">Bestsellers</option>
      </select>
    </div>

    <div class="clothes__container__items">
      <div class="clothes__items">
        <div class="item_img"></div>
        <p>cool item to keep you warm</p>
        <button>buy</button>
      </div>
      <div class="clothes__items">
        <div class="item_img"></div>
        <p>cool item to keep you warm</p>
        <button>buy</button>
      </div>
      <div class="clothes__items">
        <div class="item_img"></div>
        <p>cool item to keep you warm</p>
        <button>buy</button>
      </div>
    </div>
  </div>
</section>
