* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  top: 0;
  z-index: 0;
  position: sticky;
  pointer-events: none;
}
.header__container {
  height: 500px;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/headerM.jpg);
}

.header__button {
  z-index: 5;
  position: relative;
  padding-top: 350px;
  text-align: center;
}
.header__button a {
  width: 200px;
  margin: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  pointer-events: auto;
  display: inline-block;
  text-decoration: none;
  transition: border 0.8s;
  background-color: black;
  border: 1px solid white;
  transition: 0.5s ease-in-out;
}
.header__button a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/*de rest van de pagina*/
section {
  z-index: 1;
  position: relative;
  background-color: white;
}

/*top_categories*/
.top__categories__container h1 {
  padding-top: 40px;
  text-align: center;
}
.top__categories {
  display: grid;
  text-align: center;
  grid-column-gap: 10px;
  margin: 20px 80px 0 80px;
  grid-template-columns: repeat(6, 1fr);
}
.top__categorie div {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top__categorie p {
  padding-top: 10px;
}

.categorie_img_jackets {
  background-image: url(assets/jacketsM.webp);
}
.categorie_img_jeans {
  background-image: url(assets/jeansM.webp);
}
.categorie_img_sweatshirt {
  background-image: url(assets/sweatshirtsM.webp);
}
.categorie_img_shirt {
  background-image: url(assets/shirtM.webp);
}
.categorie_img_schoenen {
  background-image: url(assets/schoenenM.webp);
}
.categorie_img_accessoires {
  background-image: url(assets/accessoiresM.webp);
}

/*looks*/
.look__container h1 {
  padding-top: 80px;
  text-align: center;
}
.look__container p {
  font-size: 15px;
  text-align: center;
}
.look__categorie {
  display: grid;
  grid-column-gap: 10px;
  margin: 20px 40px 0 40px;
  grid-template-columns: repeat(4, 1fr);
}
.look__categorie div {
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.look__categorie p {
  color: white;
  font-size: 40px;
  text-align: left;
  padding-left: 30px;
  padding-top: 280px;
}

.categorie_img_streetwear {
  background-image: url(assets/streetwearM.jpg);
}
.categorie_img_casual {
  background-image: url(assets/casualM.jpg);
}
.categorie_img_trendy {
  background-image: url(assets/trendyM.jpg);
}
.categorie_img_formal {
  background-image: url(assets/formalM.jpg);
}

/*filter*/
.filter__clothes__container {
  display: grid;
  text-align: center;
  grid-column-gap: 10px;
  padding: 50px 40px 0 40px;
  grid-template-columns: repeat(4, 1fr);
}
.filter__container {
  display: grid;
  max-height: 100px;
  text-align: center;
  grid-template-rows: repeat(1, 2fr);
}

.filter__container__categories {
  padding: 20px;
  cursor: pointer;
  text-align: left;
  color: rgb(55, 54, 54);
  border: 2px solid rgb(0, 0, 0);
}

.filter__container__categories h1 {
  padding-bottom: 10px;
}
.filter__container__categories p {
  font-size: 20px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
  padding-bottom: 5px;
}
.filter__container__categories p::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: rgb(201, 37, 37);
  transition: transform 0.25s ease-out;
}
.filter__container__categories p:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*collab colletion*/
#exclusive {
  color: darkgreen;
  font-weight: 600;
}

.filter__container__categories #exclusive::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: rgb(10, 122, 29);
  transition: transform 0.25s ease-out;
}

.filter__container__categories #exclusive:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*kleren*/
.clothes_container {
  text-align: left;
  grid-column-end: 5;
  grid-column-start: 2;
}
.clothes__container__filter select {
  padding: 5px;
  border-radius: 0;
  margin-left: 10px;
  color: rgb(59, 59, 59);
  border: 1px solid rgb(210, 208, 208);
}

.clothes__items {
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.clothes_box {
  width: 23%;
  border-radius: 8px;
  margin-bottom: 40px;
  background-color: #fff;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.product_box {
  cursor: pointer;
  border-radius: 10px;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border: 2px solid rgb(0, 0, 0);
}
/* Standaardstijl voor alle producten */
.product_box:hover {
  box-shadow: 0 0 10px rgba(213, 7, 7, 0.776);
}
/* Stijl specifiek voor categoryId = 9 */
.category-9-style div:hover {
  box-shadow: 0 0 10px rgb(10, 122, 29);
}

.product_image {
  width: 100%;
  height: auto;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ddd;
}
.product_info {
  padding: 10px;
}
.product_brand {
  margin: 0;
  color: #333;
  font-size: 14px;
}
.product_name {
  margin: 5px 0;
  color: #444;
  font-size: 16px;
}
.product_buy {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.product_price {
  margin: 0;
  color: #444;
  font-size: 18px;
  font-weight: bold;
}

/*maten knoppen*/
.product_sizes {
  display: none;
}
.product_sizes.show-sizes {
  display: flex;
  flex-wrap: wrap;
  /*margin-top: -70px; -over de afbeelding heen 
  position: relative;*/
  align-items: center; /* Om de knoppen verticaal uit te lijnen */
  justify-content: space-around; /* Om de knoppen evenredig te verdelen */
}
.product_sizes button {
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
}

.product_sizes button:hover {
  color: white;
  background-color: rgb(61, 61, 61); /* Achtergrondkleur bij zweven */
}

.add_to_cart_button {
  color: #000000;
  cursor: pointer;
  padding: 8px 16px;
  border: 2px solid #000000;
  transition: 0.5s ease-in-out;
  background-color: transparent;
}
.add_to_cart_button:hover {
  color: white;
  border: 2px solid white;
  background-color: #000000;
}
