    <!-- Dit kan ook aangepast worden indien nodig -->
    <header>
        <div class="logo">
            <h1>Logo</h1>
        </div>

        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/producten">Producten</a>
            <a href="/contact">Contact</a>
        </div>
    </header>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>    
             <router-outlet></router-outlet>
        </div>
      </div>