    <!-- Dit kan ook aangepast worden indien nodig -->
    <header>
        <div class="logo">
          <a href="/home">
            La<span class="red">Renta</span>
          </a>
        </div>
    
        <ul class="navbar">
          <li class="dropdown">
            <a href="/heren" class="dropbtn">Heren</a>
            <div class="dropdown-content">
              <a href="#">Jeans</a>
              <a href="#">Accessories</a>
              <a href="#">Shoes</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="/dames" class="dropbtn">Dames</a>
            <div class="dropdown-content">
              <a href="#">Dresses</a>
              <a href="#">Handbags</a>
              <a href="#">Shoes</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="/kids" class="dropbtn">Kids</a>
            <div class="dropdown-content">
              <a href="#">Toys</a>
              <a href="#">Clothing</a>
              <a href="#">Shoes</a>
            </div>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </header>

      <script src="script.js"></script>
      
    <div class="container">
        <div class="row">
          <div class="col-md-12">
          </div>    
             <router-outlet></router-outlet>
        </div>
      </div>
