.container {
    display: flex;
}

.red {
    color: red;
}

.side-bar {
    width: 200px;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10vh;
}

.side-bar a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: .5s ease-in-out;
}

.side-bar a:hover {
    background-color: #ddd;
    color: #333;
}

.side-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-top: 10vh;
}

.main-content h1 {
    text-align: center;
}