<div class="container">
    <div class="side-bar">
      <ul>
        <li><a href="/admin/producten-beheer">Producten</a></li>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/klanten">Klanten</a></li>
        <li><a href="/admin/instellingen">Instellingen</a></li>
        <li><a href="/admin/nieuwsbrief">Nieuwsbrief</a></li>
        <span class="logout"></span><li><a href="/admin/logout"><span class="red">Uitloggen</span></a></li>
      </ul>
    </div>
  
    <div class="main-content">
      <h1>Admin Control Panel</h1>
    </div>
  </div>
  