.container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*admin form design*/
#container {
  z-index: 1;
  max-width: 768px;
  position: relative;
  margin: 0 auto 0 auto;
  border: solid 3px black;
}

form {
  padding: 37.5px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 7px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.name input::placeholder,
.description textarea::placeholder,
.price input::placeholder,
.image input::placeholder,
.stock input::placeholder,
.weight input::placeholder {
  color: black;
}

.image,
.gender,
.category {
  float: right;
  width: 45%;
}
.price,
.stock,
.weight {
  float: left;
  width: 45%;
}
.name,
.description {
  width: 100%;
}

select {
  outline: none;
  -webkit-appearance: none;
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
}
textarea {
  width: 100%;
  resize: none;
  height: 100px;
  line-height: 150%;
}

input[type="text"],
[type="number"],
select,
textarea {
  width: 100%;
  border: none;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s;
  box-sizing: border-box;
  margin: 0em 0 1.875em 0;
  text-transform: uppercase;
  padding: 0.875em 0 0.875em 0;
  border-bottom: solid 2px black;
}
input[type="text"]:focus,
[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

#form_button {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.875em;
  padding: 20px 35px;
  background: white;
  transition: all 0.3s;
  display: inline-block;
  text-transform: uppercase;
  border: solid 2px black;
  margin-left: -50px;
}
#form_button:hover {
  color: #f2f3eb;
  background: black;
  border: 2px solid white;
}

/*voor de error in forms*/
.error {
  color: red !important;
}
.error-input {
  border-bottom: 2px solid red !important;
}
