<div class="container">
  <div class="side-bar">
    <ul>
      <li><a href="/admin/producten-beheer">Producten</a></li>
      <li><a href="/admin/orders">Orders</a></li>
      <li><a href="/admin/klanten">Klanten</a></li>
      <li><a href="/admin/instellingen">Instellingen</a></li>
      <li><a href="/admin/nieuwsbrief">Nieuwsbrief</a></li>
      <li><a href="/admin/logout" class="red">Uitloggen</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="admin-cp">
      <h1>Admin <span class="red">Control Panel</span></h1>
    </div>
    <!-- Add Product Section -->
    <div class="product-section">
      <h2>Add Product</h2>
      <!-- admin.component.html -->
      <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <!-- Product Name -->
        <label for="product-name" [class.error]="isInvalid('product_name')"
          >Product Name:</label
        >
        <input
          type="text"
          id="product-name"
          formControlName="product_name"
          required
          [class.error-input]="isInvalid('product_name')"
        />

        <!-- Description -->
        <label
          for="product-description"
          [class.error]="isInvalid('product_description')"
          >Description:</label
        >
        <textarea
          id="product-description"
          formControlName="product_description"
          required
          [class.error-input]="isInvalid('product_description')"
        ></textarea>

        <!-- Price -->
        <label for="product-price" [class.error]="isInvalid('product_price')"
          >Price:</label
        >
        <input
          type="number"
          id="product-price"
          formControlName="product_price"
          step="0.01"
          required
          [class.error-input]="isInvalid('product_price')"
        />

        <!-- Image URL -->
        <label for="product-image" [class.error]="isInvalid('product_image')"
          >Image URL:</label
        >
        <input
          type="text"
          id="product-image"
          formControlName="product_image"
          required
          [class.error-input]="isInvalid('product_image')"
        />

        <!-- Gender -->
        <label for="product-gender" [class.error]="isInvalid('product_gender')"
          >Gender:</label
        >
        <select
          id="product-gender"
          formControlName="product_gender"
          required
          [class.error-input]="isInvalid('product_gender')"
        >
          <option value="heren">Heren</option>
          <option value="dames">Dames</option>
          <option value="kids">Kids</option>
        </select>

        <!-- Stock -->
        <label for="product-stock" [class.error]="isInvalid('product_stock')"
          >Stock:</label
        >
        <input
          type="number"
          id="product-stock"
          formControlName="product_stock"
          required
          [class.error-input]="isInvalid('product_stock')"
        />

        <!-- Category ID -->
        <label
          for="product-category"
          [class.error]="isInvalid('product_category')"
          >Category ID:</label
        >
        <select
          id="product-category"
          formControlName="product_category"
          required
          [class.error-input]="isInvalid('product_category')"
        >
          <option value="1" id="1">Schoenen</option>
          <option value="2" id="2">Dress</option>
          <option value="3" id="3">Shirts</option>
          <option value="4" id="4">Sweaters</option>
          <option value="5" id="5">Accessories</option>
        </select>

        <!-- Weight -->
        <label for="product-weight" [class.error]="isInvalid('product_weight')"
          >Weight:</label
        >
        <input
          type="number"
          id="product-weight"
          formControlName="product_weight"
          step="0.01"
          required
          [class.error-input]="isInvalid('product_weight')"
        />

        <!-- Brand -->
        <label for="product-brand">Brand:</label>
        <input
          type="text"
          id="product-brand"
          formControlName="product_brand"
          readonly
          placeholder="MC"
          value="MC"
        />

        <button type="submit">Add Product</button>
      </form>
    </div>
  </div>
</div>
