<header>
  <div class="header__container">
    <div class="header__text">
      <h2>Welkom bij</h2>
      <h1>MADfashion</h1>
      <p>
        MADfashion is a clothing brand that focuses on providing fashion and
        quality at affordable prices.
      </p>
    </div>

    <div class="header__button">
      <a href="/dames">SHOP DAMES</a>
      <a href="/heren">SHOP HEREN</a>
      <a href="/kids">SHOP KIDS</a>
    </div>
  </div>
</header>

<section class="info__container">
  <div class="info__container__text">
    <h1>MADfashion</h1>
    <h2>a revolutionary clothing brand</h2>
    <p>
      Introducing MADfashion, a revolutionary clothing brand that seamlessly
      blends the edgy urban vibes of Bershka with the luxurious sophistication
      of Gucci. Born from the fusion of contrasting styles, MAD Fashion takes
      the fashion scene by storm with its unique and eclectic offerings.
    </p>
    <p>
      At MADfashion, every garment is a bold statement, reflecting a fearless
      approach to style. Drawing inspiration from the vibrant street culture
      that defines Bershka and the opulent elegance associated with Gucci, this
      brand creates a distinctive and captivating aesthetic.
    </p>
    <p>
      The collections at MAD Fashion are a kaleidoscope of textures, colors, and
      patterns. From avant-garde streetwear to opulent evening attire, MAD
      Fashion caters to diverse tastes, ensuring that fashion enthusiasts can
      find the perfect piece to express their individuality. The brand prides
      itself on pushing boundaries and challenging traditional norms, offering
      clothing that is not just a trend but a form of self-expression.
    </p>
  </div>
  <div class="info__container__image"></div>
</section>

<section class="look__container">
  <h1>Get the look</h1>
  <p>#MADFashionStyle</p>
  <div class="look__categories">
    <div class="look__categorie">
      <div class="categorie_img_streetwear">
        <p>Streetwear</p>
      </div>
      <div class="categorie_img_casual">
        <p>Casual</p>
      </div>
      <div class="categorie_img_trendy">
        <p>Trendy</p>
      </div>
      <div class="categorie_img_formal">
        <p>Formal</p>
      </div>
    </div>
  </div>
</section>
