* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  color: red;
}

/*header*/
header {
  top: 0;
  z-index: 0;
  height: 530px;
  position: sticky;
  overflow: hidden;
  pointer-events: none;
}

.header__container {
  z-index: 1;
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, 1fr);
}

/*
.header__text video {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
*/

.header__text {
  color: white;
  padding-top: 100px;
  text-align: center;
  position: relative;
  background-image: url(assets/header.jpg);
}

.header__text h2 {
  padding-top: 80px;
}
.header__text h1 {
  font-size: 40px;
  font-weight: 600;
}
.header__text p {
  padding-top: 100px;
  padding-bottom: 40px;
}

.header__button {
  margin: 0;
  text-align: center;
}
.header__button a {
  padding: 45px;
  width: 33.33%;
  color: white;
  font-size: 20px;
  font-weight: 800;
  pointer-events: auto;
  display: inline-block;
  text-decoration: none;
  transition: border 0.8s;
  background-color: black;
  /* border: 1px solid white; */
  transition: 0.5s ease-in-out;
}
.header__button a:hover {
  color: black;
  background-color: white;
  /* border: 1px solid black; */
}

/*de rest van de pagina*/
section {
  z-index: 1;
  position: relative;
  background-color: white;
}

/*info campagne - collab*/
.campaign__container {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/collab.png);
}
.campaign__info {
  width: 33%;
  height: 300px;
  display: grid;
  row-gap: 10px;
  color: white;
  align-content: center;
  padding: 50px 0 0 50px;
}
.campaign__button {
  color: white;
  margin-top: 20px;
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid white;
  background-color: black;
  transition: .5s ease-in-out;
}

.campaign__button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

/*info over MADfashion*/
.info__container {
  z-index: 1;
  display: grid;
  column-gap: 100px;
  position: relative;
  padding: 20px 200px 20px 200px;
  grid-template-columns: repeat(2, 1fr);
}

.info__container__text h1 {
  font-size: 30px;
  font-weight: bolder;
}

.info__container__text h2 {
  padding-bottom: 10px;
}

.info__container__text p {
  padding-top: 10px;
}

.info__container__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/MADfashionMen.jpg);
}

/*looks*/
.look__container h1 {
  padding-top: 40px;
  text-align: center;
}
.look__container p {
  font-size: 15px;
  text-align: center;
}
.look__categorie {
  display: grid;
  grid-column-gap: 10px;
  margin: 20px 40px 0 40px;
  grid-template-columns: repeat(4, 1fr);
}
.look__categorie div {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.look__categorie p {
  color: white;
  font-size: 40px;
  text-align: left;
  padding-left: 30px;
  padding-top: 240px;
}

.categorie_img_streetwear {
  background-image: url(assets/streetwearW.webp);
}
.categorie_img_casual {
  background-image: url(assets/casualM.jpg);
}
.categorie_img_trendy {
  background-image: url(assets/trendyM.jpg);
}
.categorie_img_formal {
  background-image: url(assets/formalW.jpg);
}
