<section class="witte__ruimte"></section>

<section id="container">
  <h1>&bull; Sign up &bull;</h1>

  <form action="#" method="post" id="register_form">
    <div class="firstname">
      <input
        type="text"
        placeholder="firstname"
        [(ngModel)]="first_name"
        name="first_name"
        id="first_name"
        required
      />
    </div>

    <div class="lastname">
      <input
        type="text"
        placeholder="lastname"
        [(ngModel)]="last_name"
        name="last_name"
        id="last_name"
        required
      />
    </div>

    <div class="username">
      <input
        type="text"
        placeholder="username"
        [(ngModel)]="username"
        name="username"
        id="username"
        required
      />
    </div>

    <div class="password">
      <input
        type="password"
        placeholder="password"
        [(ngModel)]="password"
        name="password"
        id="password"
        required
      />
    </div>

    <div class="birthday">
      <input
        type="date"
        placeholder="birthday"
        [(ngModel)]="birthday"
        name="birthday"
        id="birthday"
        required
      />
    </div>
    <div class="street">
      <input
        type="text"
        placeholder="street"
        [(ngModel)]="streetname"
        name="streetname"
        id="street"
        required
      />
    </div>
    <div class="houseNumber">
      <input
        type="text"
        placeholder="houseNumber"
        [(ngModel)]="houseNumber"
        name="houseNumber"
        id="houseNumber"
        required
      />
    </div>

    <div class="postalcode">
      <input
        type="text"
        placeholder="postalcode"
        [(ngModel)]="postalcode"
        name="postalcode"
        id="postalcode"
        required
      />
    </div>

    <div class="city">
      <input type="text" placeholder="city" name="city" id="city" required />
    </div>

    <div class="country">
      <input
        type="text"
        placeholder="country"
        [(ngModel)]="country"
        name="country"
        id="country"
        required
      />
    </div>
    <div class="e-mail">
      <input
        type="text"
        placeholder="e-mail"
        [(ngModel)]="email"
        name="e-mail"
        id="e-mail"
        required
      />
    </div>
    <div class="phoneNumber">
      <input
        type="number"
        placeholder="phoneNumber"
        [(ngModel)]="phone"
        name="phoneNumber"
        id="phoneNumber"
        required
      />
    </div>

    <div class="register">
      <input
        type="submit"
        value="sign&nbsp;up"
        (click)="onSubmit()"
        id="form_signup"
      />
    </div>
  </form>
</section>
